body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:469px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:80px;
  width:429px;
  height:839px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:839px;
}
#u1 {
  position:absolute;
  left:2px;
  top:412px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:74px;
  top:185px;
  width:360px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:74px;
  top:779px;
  width:360px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:74px;
  top:209px;
  width:360px;
  height:570px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u7 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:74px;
  top:209px;
  width:360px;
  height:570px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u9 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:90px;
  top:265px;
  width:329px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:312px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:329px;
  height:1px;
}
#u11 {
  position:absolute;
  left:89px;
  top:315px;
  width:329px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:312px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:329px;
  height:1px;
}
#u12 {
  position:absolute;
  left:89px;
  top:365px;
  width:329px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:312px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:329px;
  height:1px;
}
#u13 {
  position:absolute;
  left:89px;
  top:465px;
  width:329px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:312px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:329px;
  height:1px;
}
#u14 {
  position:absolute;
  left:227px;
  top:424px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
